
body {

  background-color: white;
}

.card {

    border-color: black;
    border-width: 3px;
    background-color: rgb(187, 229, 248);
    
}

.navbar-dark {

  background-color: rgb(157, 224, 255);

}

.navbar-dark .navbar-nav .nav-link {

  color: #000;

}